<a href="https://colab.research.google.com/github/tiendatngcs/business_analysis/blob/master/wish_ecommerce_summer_clothes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sales of summer clothes in E-commerce Wish

##Data describtion, exploration, and hypothesis.

The dataset contains data of summer-realeted products for sales on Wish as of July 2020.</br>
 [Link to the dataset](https://www.kaggle.com/jmmvutu/summer-products-and-sales-in-ecommerce-wish?select=summer-products-with-rating-and-performance_2020-08.csv)</br>
 Objective:
*   Determine what groups of products are most likely to be bought in the summer. 
*   How other factors like tags, price, ad_boost, ratings, etc. affect customer behaviors.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/content/drive/My Drive/data/wish_ecommerce_summer_clothes/summer-products-with-rating-and-performance_2020-08.csv",
                 )

In [9]:
df.head(1)

                                               title  ... crawl_month
0  2020 Summer Vintage Flamingo Print  Pajamas Se...  ...     2020-08

[1 rows x 43 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         1573 non-null   object
 1   title_orig                    1573 non-null   object
 2   price                         1573 non-null   float64
 3   retail_price                  1573 non-null   int64
 4   currency_buyer                1573 non-null   object
 5   units_sold                    1573 non-null   int64
 6   uses_ad_boosts                1573 non-null   int64
 7   rating                        1573 non-null   float64
 8   rating_count                  1573 non-null   int64
 9   rating_five_count             1528 non-null   float64
 10  rating_four_count             1528 non-null   float64
 11  rating_three_count            1528 non-null   float64
 12  rating_two_count              1528 non-null   float64
 13  rating_one_count              1528 non-null   float64
 14  badges_count                  1573 non-null   int64
 15  badge_local_product           1573 non-null   int64
 16  badge_product_quality         1573 non-null   int64
 17  badge_fast_shipping           1573 non-null   int64
 18  tags                          1573 non-null   object
 19  product_color                 1532 non-null   object
 20  product_variation_size_id     1559 non-null   object
 21  product_variation_inventory   1573 non-null   int64
 22  shipping_option_name          1573 non-null   object
 23  shipping_option_price         1573 non-null   int64
 24  shipping_is_express           1573 non-null   int64
 25  countries_shipped_to          1573 non-null   int64
 26  inventory_total               1573 non-null   int64
 27  has_urgency_banner            473 non-null    float64
 28  urgency_text                  473 non-null    object
 29  origin_country                1556 non-null   object
 30  merchant_title                1573 non-null   object
 31  merchant_name                 1569 non-null   object
 32  merchant_info_subtitle        1572 non-null   object
 33  merchant_rating_count         1573 non-null   int64
 34  merchant_rating               1573 non-null   float64
 35  merchant_id                   1573 non-null   object
 36  merchant_has_profile_picture  1573 non-null   int64
 37  merchant_profile_picture      226 non-null    object
 38  product_url                   1573 non-null   object
 39  product_picture               1573 non-null   object
 40  product_id                    1573 non-null   object
 41  theme                         1573 non-null   object
 42  crawl_month                   1573 non-null   object
dtypes: float64(9), int64(15), object(19)
memory usage: 528.6+ KB

In [6]:
df.describe()

             price  retail_price  ...  merchant_rating  merchant_has_profile_picture
count  1573.000000   1573.000000  ...      1573.000000                   1573.000000
mean      8.325372     23.288620  ...         4.032345                      0.143675
std       3.932030     30.357863  ...         0.204768                      0.350871
min       1.000000      1.000000  ...         2.333333                      0.000000
25%       5.810000      7.000000  ...         3.917353                      0.000000
50%       8.000000     10.000000  ...         4.040650                      0.000000
75%      11.000000     26.000000  ...         4.161797                      0.000000
max      49.000000    252.000000  ...         5.000000                      1.000000

[8 rows x 24 columns]

Number of unique values for each feature.

In [34]:
def unique_by_column(df: pd.DataFrame):
  print("{:30.26}|  {}".format("Feature", "Unique_value_count"))
  print(('-'*50))
  for column in df.columns:
    print("{:30.26}|  {:>18}".format(column, len(pd.unique(df[column]))))

In [35]:
unique_by_column(df)

Feature                       |  Unique_value_count
--------------------------------------------------
title                         |                1201
title_orig                    |                1203
price                         |                 127
retail_price                  |                 104
currency_buyer                |                   1
units_sold                    |                  15
uses_ad_boosts                |                   2
rating                        |                 192
rating_count                  |                 761
rating_five_count             |                 606
rating_four_count             |                 441
rating_three_count            |                 385
rating_two_count              |                 263
rating_one_count              |                 331
badges_count                  |                   4
badge_local_product           |                   2
badge_product_quality         |                   2
badge_fast_shipping           |                   2
tags                          |                1230
product_color                 |                 102
product_variation_size_id     |                 107
product_variation_inventor    |                  48
shipping_option_name          |                  15
shipping_option_price         |                   8
shipping_is_express           |                   2
countries_shipped_to          |                  94
inventory_total               |                  10
has_urgency_banner            |                   2
urgency_text                  |                   3
origin_country                |                   7
merchant_title                |                 958
merchant_name                 |                 958
merchant_info_subtitle        |                1059
merchant_rating_count         |                 917
merchant_rating               |                 952
merchant_id                   |                 958
merchant_has_profile_pictu    |                   2
merchant_profile_picture      |                 126
product_url                   |                1341
product_picture               |                1341
product_id                    |                1341
theme                         |                   1
crawl_month                   |                   1

Some fearures add little or no infuence to sales.

In [37]:
processed_df = df.drop(columns=['title',
                              'currency_buyer',
                              'product_variation_size_id',
                              'product_variation_inventory',
                              'urgency_text',
                              'origin_country',
                              'merchant_title',
                              'merchant_name',
                              'merchant_info_subtitle',
                              'merchant_id',
                              'merchant_profile_picture',
                              'product_url',
                              'product_picture',
                              'product_id',
                              'theme',
                              'crawl_month'])

In [38]:
processed_df.head(1)

                                          title_orig  ...  merchant_has_profile_picture
0  2020 Summer Vintage Flamingo Print  Pajamas Se...  ...                             0

[1 rows x 27 columns]

In [39]:
processed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title_orig                    1573 non-null   object
 1   price                         1573 non-null   float64
 2   retail_price                  1573 non-null   int64
 3   units_sold                    1573 non-null   int64
 4   uses_ad_boosts                1573 non-null   int64
 5   rating                        1573 non-null   float64
 6   rating_count                  1573 non-null   int64
 7   rating_five_count             1528 non-null   float64
 8   rating_four_count             1528 non-null   float64
 9   rating_three_count            1528 non-null   float64
 10  rating_two_count              1528 non-null   float64
 11  rating_one_count              1528 non-null   float64
 12  badges_count                  1573 non-null   int64
 13  badge_local_product           1573 non-null   int64
 14  badge_product_quality         1573 non-null   int64
 15  badge_fast_shipping           1573 non-null   int64
 16  tags                          1573 non-null   object
 17  product_color                 1532 non-null   object
 18  shipping_option_name          1573 non-null   object
 19  shipping_option_price         1573 non-null   int64
 20  shipping_is_express           1573 non-null   int64
 21  countries_shipped_to          1573 non-null   int64
 22  inventory_total               1573 non-null   int64
 23  has_urgency_banner            473 non-null    float64
 24  merchant_rating_count         1573 non-null   int64
 25  merchant_rating               1573 non-null   float64
 26  merchant_has_profile_picture  1573 non-null   int64
dtypes: float64(9), int64(14), object(4)
memory usage: 331.9+ KB

In [41]:
unique_by_column(processed_df)

Feature                       |  Unique_value_count
--------------------------------------------------
title_orig                    |                1203
price                         |                 127
retail_price                  |                 104
units_sold                    |                  15
uses_ad_boosts                |                   2
rating                        |                 192
rating_count                  |                 761
rating_five_count             |                 606
rating_four_count             |                 441
rating_three_count            |                 385
rating_two_count              |                 263
rating_one_count              |                 331
badges_count                  |                   4
badge_local_product           |                   2
badge_product_quality         |                   2
badge_fast_shipping           |                   2
tags                          |                1230
product_color                 |                 102
shipping_option_name          |                  15
shipping_option_price         |                   8
shipping_is_express           |                   2
countries_shipped_to          |                  94
inventory_total               |                  10
has_urgency_banner            |                   2
merchant_rating_count         |                 917
merchant_rating               |                 952
merchant_has_profile_pictu    |                   2